@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
.row {
  margin: 0;
}

.container {
  padding: 3.5rem 0;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(11, 107, 196);
  margin: 0 6px;
  transition: all 0.3s;
}

.carousel-indicators .active {
  background-color: rgb(11, 107, 196);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(11, 107, 196, 0.7);

  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
}

.estatisticas {
  padding: 1rem 0;
  background: rgba(11, 106, 196, 0.918);
  margin: 0 auto;
}

.estatisticas .container {
  padding: 0;
}

.estatisticas_card {
  color: #f3f3f3;
  font-weight: 600;
}


.servicos{
  background: url('../img/background-2.png') no-repeat;
  background-position:  center;
  
}

.servicos_cabecalho {
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(11, 107, 196);
  padding: 2rem 1rem;
  box-shadow: 0 6px 10px rgba(10, 99, 182, 0.25);
  background-color: #f8faff;
  transition: all 0.3s ease;

}

.servicos_cabecalho:hover {

  transform: translateY(-8px);
}

.servicos_cabecalho img {
  padding: 12px;
  background: #f8fafd;
  position: absolute;
  border-radius: 100%;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(11, 107, 196);

}

.servicos_cabecalho .h4 {
  color: rgba(11, 106, 196, 0.918);
}

.servicos_cabecalho .h5 {
  font-size: 22px;
  font-weight: 500;
  color: rgb(99, 99, 99);
}


.sobre {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}


.whatsapp-button {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 999;
  background-color: #25d366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  animation: pulse 1.2s infinite;
}

.title_section {
  position: relative;
}


.title_section::after {
  position: absolute;
  content: '';
  width: 200px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  background: rgb(11, 107, 196);
  margin-top: 10px;
}


.whatsapp-button:hover {
  transform: scale(1.1);
}

@media (min-width: 992px) {

  .banner {
    padding: 3rem 0;
    background: url('../img/image-banner-2.png') no-repeat;
    background-size: contain;
    background-position: 80% center;
  }

  .sobre {
    background: url('../img/mulher-sorridente-falando-ao-telefone-tiro-medio.png') no-repeat, linear-gradient(to left, #fff, #f3f3f3, #d1d1d1);
    background-size: contain;
    background-position: right;
  }


  .carousel-item {
    height: 600px;
  }

}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.6);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}